body {
  background-color: #150433;
  margin: 0;
}
.menu {
  font-family: "Open Sans", sans-serif;
  width: 100%;
}
.menu__title {
  color: aliceblue;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.menu__item {
  display: flex;
  padding-right: 4%;
  font-size: 25px;
  text-transform: uppercase;
}
.menu__link {
  text-decoration: none;
  color: aliceblue;
}
.menu__link:hover {
  background-color: #727272;
}
@media (max-width: 500px) {
  .menu {
    width: 100%;
  }
  .menu__title {
    flex-direction: column;
  }
  .menu__nav {
    flex-direction: column;
    align-self: center;
  }
  .menu__ite {
    margin: 5px;
  }
}
